body {
    background-color: #F7FFF7;
    font-family: 'Spline Sans Mono', monospace;
}
.all_circles_in_header {
    display: flex;
    justify-content: center; /* Выравниваем по горизонтали по центру */
    align-items: center; /* Выравниваем по вертикали по центру */
    position: absolute;
    z-index: -1;
    height: 161vh;
    width: 203vh;
}
.circle_1 {
    width: 1506px;
    height: 1506px;
    border-radius: 50%;
    z-index: -6;
    position: absolute;
    background-color: #f8f0e9;
    margin-top: 33%;
    animation: fadeIn 1s ease forwards; /* Переместите animation выше, перед animation-delay */
    animation-delay: 0.8s;
    opacity: 0;
}
.circle_2 {
    width: 1386px;
    height: 1386px;
    border-radius: 50%;
    z-index: -5;
    position: absolute;
    background-color: #f9dcd6;
    margin-top: 33%;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.6s;
    opacity: 0;
}
.circle_3 {
    width: 1266px;
    height: 1266px;
    border-radius: 50%;
    z-index: -4;
    position: absolute;
    background-color: #fac5c0;
    margin-top: 33%;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.4s;
    opacity: 0;
}
.circle_4 {
    width: 1146px;
    height: 1146px;
    border-radius: 50%;
    z-index: -4;
    position: absolute;
    background-color: #fbafab;
    margin-top: 33%;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.2s;
    opacity: 0;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.header {
    text-align: center;
    padding: 14.3% 16% 0 16%;
}
.header_image {
    justify-content: center;
}
.title_header {
    font-size: 128px;
    font-weight: bold;
}
.header_buttons {
    margin-top: 6%;
    font-weight: bold;
}

.header_button {
    padding: 0 2.5%;
}

/*#header_button_1 {*/
/*    padding-right: 5%;*/
/*}*/
/*#header_button_2 {*/
/*    padding-right: 5%;*/
/*}*/