html {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
.GenGroup {
    position: absolute;
    margin-left: 40%;
    z-index: -1;
}
.header {
    padding: 12% 17% 0 17%;
}
.text_header {
    font-size: 72px;
    font-weight: bolder;
    color: #006466;
    padding-top: 3%;
}
.header_buttons {
    padding: 3% 0;
}
.header_button {
    padding: 1.4% 2.1%;
    color: white;
    text-decoration: none;
    font-family: 'Old Standard TT', serif;
    margin-right: 1.5%;
}
#start_now {
    background-color: #272640;
}
#Link {
    background-color: #707070;
}
.about_us {
    padding: 0 17% ;
    margin-top: 15%;
    background-color: white;
}
.title_about_us {
    font-size: 48px;
    font-weight: bolder;
    padding: 10% 0 1% 0;
    color: #4D194D;
}
.all_text {
    font-size: 20px;
    color: #144552;
    font-family: 'Old Standard TT', serif;
    padding-bottom: 18%;
}
.text_about_us {
    padding: 3% 35% 0 0;
}
.block_just_images {
    display: flex;
    justify-content: center;
    padding-top: 8%;
    background-color: #1B3A4B;
}
.image_flower {
    margin-right: 1%;
}
.image_star {
    margin-left: 1%;
}
.text_under_images {
    display: flex;
    text-align: center;
    background-color: #1B3A4B;
    padding: 1% 17%;
    color: white;
}
#titles_under_image_1 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
#titles_under_image_2 {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.text_under_image_1 {
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    font-weight: normal;
    width: 300px;
    margin-left: 10%;
}
.text_under_image_2 {
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    font-weight: normal;
    padding: 0 0 0 8%;
    width: 400px;
    margin-left: 8%;
}
.bottom {
    text-align: center;
    padding: 10% 0 2% 0;
    background-color: #1B3A4B;
}
.title_bottom {
    color: white;
    font-size: 48px;
    font-weight: bold;
    padding: 2% 0;
}
.text_bottom {
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    color: white;
    padding-bottom: 3%;
}
.button_contact_me {
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1% 1.5%;
    border-radius: 10px;
    transition: 0.4s;
}
.button_contact_me:hover {
    background-color: #F7FFF7;
    font-size: 18px;
    color: black;
}
.social_circles {
    display: flex;
    padding: 3% 0;
    justify-content: center;
}
.background_circle_telegram {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    transition: 0.4s;
}
.background_circle_telegram:hover {
    background-color: #00A3FF;
}
.background_circle_vk {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    transition: 0.4s;
}
.background_circle_vk:hover {
    background-color: #000AFF;
}
.background_circle_discord {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    transition: 0.4s;
}
.background_circle_discord:hover {
    background-color: #7B00F6;
}
.telegram_logo {
    margin-right: 5%;
}
.discord_logo {
    margin-right: 1.5%;
}
@media screen and (max-width: 1422px) {
    .GenGroup {
        position: absolute;
        margin-left: 35%;
        z-index: -1;
        max-width: 95%;
    }
}
@media screen and (max-width: 1311px) {
    .GenGroup {
        position: absolute;
        margin-left: 30%;
        z-index: -1;
        max-width: 90%;
    }
}
@media screen and (max-width: 1311px) {
    .GenGroup {
        position: absolute;
        margin-left: 25%;
        z-index: -1;
        max-width: 80%;
    }
}
@media screen and (max-width: 1136px) {
    .GenGroup {
        position: absolute;
        margin-left: 25%;
        z-index: -1;
        max-width: 70%;
    }
    .text_header {
        font-size: 50px;
    }
    .image_flower {
        margin-right: 1%;
        max-width: 40%;
    }
    .image_star {
        margin-left: 1%;
        max-width: 40%;
    }
}
@media screen and (max-width: 991px) {
    .GenGroup {
        position: absolute;
        margin-left: 25%;
        z-index: -1;
        max-width: 70%;
    }
    .text_header {
        font-size: 50px;
    }
    .image_flower {
        margin-right: 1%;
        max-width: 40%;
    }
    .image_star {
        margin-left: 1%;
        max-width: 40%;
    }
}
@media screen and (max-width: 768px) {
    .GenGroup {
        position: absolute;
        margin-left: 20%;
        z-index: -1;
        max-width: 80%;
    }
    .header {
        padding: 12% 10% 0 10%;
    }
    .image_header {
        max-width: 40%;
    }
    .text_header {
        font-size: 32px;
        font-weight: bolder;
        color: #006466;
        padding-top: 3%;
    }
    .header_buttons {
        padding: 10% 0 3% 0;
        display: grid;
        text-align: center;
    }
    .header_button {
        padding: 2% 3.1%;
        color: white;
        text-decoration: none;
        font-family: 'Old Standard TT', serif;
        margin-right: 1.5%;
        margin-bottom: 1.5%;
        border-radius: 5px;
    }
    .about_us {
        padding: 0 10%;
        margin-top: 20%;
        background-color: white;
    }
    .title_about_us {
        font-size: 24px;
        font-weight: bolder;
        padding: 0 0 1% 0;
        color: #4D194D;
    }
    .all_text {
        font-size: 20px;
        color: #144552;
        font-family: 'Old Standard TT', serif;
        padding-bottom: 18%;
    }
    .text_about_us {
        padding: 3% 0 0 0;
    }
    .block_just_images {
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 8%;
        background-color: #1B3A4B;
    }
    .image_flower {
        margin-right: 1%;
        max-width: 75%;
        margin-bottom: 5%;
    }
    .image_star {
        margin-left: 1%;
        max-width: 75%;
    }
    .text_under_images {
        display: block;
        text-align: center;
        background-color: #1B3A4B;
        padding: 1% 0;
        margin: 0 auto;
        color: white;
    }
    #titles_under_image_1,
    #titles_under_image_2 {
        font-size: 26px;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
    }
    .text_under_image_1,
    .text_under_image_2 {
        font-family: 'Old Standard TT', serif;
        font-size: 20px;
        font-weight: normal;
        width: 300px;
        margin: 15% auto 0 auto;
        text-align: center;
        padding: 0;
    }
    .bottom {
        text-align: center;
        padding: 20% 0 2% 0;
        background-color: #1B3A4B;
    }
    .image_bottom {
        max-width: 65%;
    }
    .title_bottom {
        color: white;
        font-size: 28px;
        font-weight: bold;
        padding: 2% 0;
    }
    .text_bottom {
        font-family: 'Old Standard TT', serif;
        font-size: 20px;
        color: white;
        padding:0 10% 6% 10%;
    }
    .social_circles {
        display: flex;
        padding: 6% 0;
        justify-content: center;
    }
    .button_contact_me {
        font-family: 'Old Standard TT', serif;
        font-size: 16px;
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 2% 2.5%;
        border-radius: 10px;
        transition: 0.4s;
    }
    .button_contact_me:hover {
        background-color: #F7FFF7;
        font-size: 18px;
        color: black;
    }
}